@use '../../shared/styles' as *;

.tabs {}

.tabsHeader {
  margin: rem(0) rem(0) rem(10) rem(0);

  @include tablet {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.wrapperButtons {
  display: flex;
  justify-content: center;

  @include tablet {
    width: max-content;
    margin: 0 auto;
  }
}

.wrapperForm {
  max-width: rem(900);
  width: 100%;
  margin: 0 auto;
}

.titleTab {
  font-weight: 600;
  text-align: center;
  font-size: fluid(26, 20);
  margin: rem(0) rem(0) rem(20) rem(0);
}

.inner {
  position: relative;
  padding: rem(0) rem(8) rem(10) rem(8);

  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: rem(2);
      height: 100%;
      background-color: var(--color-white-0-5);
    }
  }

  &._active {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(2);
      background-color: var(--color-grey);
    }
  }
}

.button {
  font-weight: 600;
  font-size: fluid(18, 16);
  background-color: transparent;
  padding: fluid(15, 10) fluid(30, 15);
  border-radius: var(--border-radius);
  color: var(--color-white-0-5);
  transition: background-color 0.3s ease 0s;

  @include hover {
    background-color: var(--color-grey-0-5);
  }

  &._active {
    color: var(--color-white);
  }
}

.content {
  padding: rem(20) fluid(30, 10);
  border-radius: var(--border-radius);
  background-color: var(--color-grey-2);
  border: 2px solid var(--color-grey);
}