@use '../../styles/index' as *;

.wrapper {
  justify-self: end;
  position: relative;
  z-index: 25;

  @include tablet-above {
    display: none;
  }
}

.burger {
  @include square(rem(34));

  display: none;
  padding: rem(8) rem(4);
  position: relative;
  z-index: 5;

  &._active {
    .line {

      &:first-child {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.25em -0.1em;
      }

      &:nth-child(2) {
        rotate: -45deg;
      }

      &:last-child {
        width: 0;
      }
    }
  }

  @include tablet {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.line {
  width: 100%;
  height: rem(2);
  background-color: var(--color-black-2);
  transition-duration: .3s;
}