@use '../../../../shared/styles' as *;

.wrapperGoals {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.innerGoal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: rem(10);
  padding: rem(10) fluid(20, 10);
  background-color: var(--color-back-3);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease 0s;

  @include hover {
    background-color: var(--color-black-2);
  }
}

.boxGoal {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.gridEnd {
  justify-self: end;
}

.textBold {
  font-weight: 600;
  font-size: fluid(18, 16);
  color: var(--color-white-0-5);
  margin: rem(0) rem(0) rem(10) rem(0);
}

.wrapperDescriptoinGoal {
  grid-column: span 2;
}